@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    margin: 50px 0;
    background-color: #949494;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.menu ul li {
    display:inline-block;
    background-color: #949494;
}

.menu a {
    display:block;
    padding:0 10px;
    color:#fff;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

.menu a:hover {
    background-color: #000;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

.menu ul li:hover > ul {
    display:inherit;
}

.menu ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

.menu ul ul ul li {
    position: relative;
    top:-60px;
    left:170px;
}

button {
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgb(240,100,30);
    padding: .7em 1.5em;
    outline: none;
}

button:hover {
    background: rgb(240,120,70);
}

button:active {
    background: rgb(220,80,15);
}

