* {
    padding: 0;
    margin: 0;
}
.wrapper {
    margin: 0 auto;
}
.tab-wrap {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 50px;
}
.text-content {
    width: 600px;
}
.tab {
    background-color: green;
    width: 149px;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}
.active {
    background-color: #fff;
    color: #000;
    border-top: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
    box-sizing: border-box;
}
.itemContent {
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    box-sizing: border-box;
    padding: 5px;
}
.show {
    display: block;
}

.hide {
    display: none;
}